<header>
<%% status = params[:status] || @feather_page.status %> 
<div class="subnav">
  <ul class="nav nav-pills">
    <li class='<%%= status == 'published' ? 'active ' : ''  %>'>
      <%%= link_to "Published Page", feather_<%=@action%>_path(:published) %> 
    </li>
    <li class='<%%= status == 'draft' ? 'active ' : ''  %>'>
      <%%= link_to "Draft Page", feather_<%=@action%>_path(:draft) %>
    </li>
  </ul>
</div>
<hr>
</header>
<div class="row">
  <div class="span12">
    <%%= form_for(@feather_page, :url => feather_<%= @action %>_path) do |f| %>
      <div class="control-group">
        <label class="control-label" for="select01">Status</label>
        <div class="controls">
          <%%= f.select :status, [:draft, :published]  %> 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="textarea">Content</label>
        <div class="controls">
          <%%= f.text_area :content, :class => 'codemirror_feather_cms input-xlarge span12', :row => "20" %>
        </div>
      </div>
      <%%= f.submit "Save", :class => 'btn btn-primary btn-large' %>
    <%% end %>
  </div>
</div>
